<div class="row"> 
	<h2>Bem-vindo</h2>
</div>

<div id="jogo" class="row">

	<div id="palavra">
	</div>

	<form id="form-usuario" class="form-horizontal">
        
        <div class="form-group">
            <label for="letra" class="col-md-3">Digite a letra:</label>
            <div class="col-md-9">
                <input type="text" id="letra" name="letra" class="form-control has-error"/>
            </div>
        </div>

		<div class="form-group">
            <div id="enviar-letra" class="col-md-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>

	</form>
	
</div>