
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Entrar", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @ViewBag.MessagemErroLogin;

    @Html.TextBox("nome", "", new { placeholder = "Nome" })
    @Html.Password("senha", "", new { placeholder = "Senha" })

    <button type="submit">Entrar</button>
}

