<div id="tela-inicial" class="sub-tela">

    <form id="form-usuario">
        <label for="usuario">Usuário</label>
        <input type="text" id="usuario" name="usuario" required />

        <label for="dificuldade">Dificuldade</label>
        <select id="dificuldade" name="dificuldade">
            <option value="Normal">Normal</option>
            <option value="BH">BH</option>
        </select>

        <button id="botao-jogar" type="submit">Jogar</button>
    </form>

</div>

<div id="tela-principal" class="sub-tela"></div>

<div id="tela-game-over" class="sub-tela"></div>

<div id="tela-sucesso" class="sub-tela"></div>

<div id="tela-leaderboard" class="sub-tela"></div>