<div id="tela-inicial" class="sub-tela formulario-centralizado col-md-5">
    
    <form id="form-usuario" class="form-horizontal">
        
        <div class="form-group">
            <label for="usuario" class="col-md-3">Usuário</label>
            <div class="col-md-9">
                <input type="text" id="usuario" name="usuario" class="form-control has-error" required/>
            </div>
        </div>

        <div>
            <label for="dificuldade" class="col-md-3">Dificuldade</label>
            <div class="col-md-9">
                <select id="dificuldade" name="dificuldade" class="form-control has-error">
                    <option value="normal">Normal</option>
                    <option value="bh">BH</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div id="container-botao-entrar" class="col-md-3">
                <button type="submit" class="btn btn-primary">Jogar</button>
            </div>
        </div>

    </form>
</div>

<div id="tela-principal" class="sub-tela"></div>

<div id="tela-game-over" class="sub-tela"></div>

<div id="tela-sucesso" class="sub-tela"></div>

<div id="tela-leaderboard" class="sub-tela"></div>